@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300);

body {
  background-image:url(../images/background_light.jpg);
  background-repeat: repeat-x;
  background-color: #C4C0BF;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

div {
  width: 960px;
  margin: auto;
  }

header {
  margin-top: 25px;
}

#content {
  background-color: #f5f5f5;
  position: relative;
  top: 15px;
}

#top {
  height: 350px;
  border:1px solid white;
  background-image: linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -o-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -moz-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -webkit-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -ms-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
}

#content {
  background-color: #f5f5f5;
}

.left {
  width: 492px;
  float: left;
  padding: 15px;
 }

 h1 {
  font-family:'Merriweather Sans', sans-serif;
  font-weight: 300;
}

#top img {
  width: 410px;
  float: right;
  padding: 5px 5px 5 5;
  border: 2px solid #C4C0BF;
  margin: 17px 17px 0 0;

}

.clear {
  clear: both;
}

#articles {
  width: 690px;
  float: left;
  padding: 0 10px 10px 10px;
}

section article {
  border-bottom: 1px solid #C4C0BF;
  background-image: linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -o-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -moz-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -webkit-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  background-image: -ms-linear-gradient(top, rgb(240,236,235) 6%, rgb(252,252,252) 34%, rgb(252,252,252) 82%);
  /*height: 700px;*/
  /*padding: 10px;*/
}

section > article {
  border-bottom: 1px solid #C4C0BF;
}

section > article > h2 {
  font-size: 28px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
}
section > article > p {
  color: #5e5e5e;
}

section > article > .bold {
  font-weight: bold;
}

#sidebar {
  width: 250px;
  float: right;
  background-color: #a9a9a9;
  height: 696px;
}

h4 {
  margin-left: 20px;
  font-size: 24px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
}

#sidebar > ul {
  margin-left: -20px;
  line-height: 35px;
}

#sidebar > ul > li {
  list-style: none;
  line-height: 35px;
  color: #68677D;
}

footer {
  background-color: black;
  color: gray;
  padding: 35px 20px 15px 0;
}

footer > p {
  text-align: right;
  padding: 30px 20px 0 0;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 0;
  padding-top: 10px;
}
