
body {
  background-image:url(../images/background_light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C4C0BF;
}

div {
  width: 960px;
  margin: auto;
  /*background-color: red;*/
}

header {
  margin-top: 25px;
}

#content {
  background-color: #f5f5f5;
}

#top {
  background-color: yellow;
  height: 340px;
}

.left {
  width: 500px;
  float: left;
}

#top img {
  width: 425px;
  float: right;
}

.clear {
  clear: both;
}

#articles {
  width: 710px;
  float: left;
  background-color: green;
}

#sidebar {
  width: 250px;
  float: right;
}

#sidebar > ul > li {
  list-style: none;
}

footer {
  background-color: black;
  color: gray;
  padding: 10px 0;
}

footer > p {
  text-align: right;
}

a {
  text-decoration: none;
}