
body {
  background-image:url(../images/background_light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C4C0BF;
  font-weight: lighter;
}

div {
  width: 960px;
  margin: auto;
  }

header {
  margin-top: 25px;
}

#top {
  height: 350px;
}

#content {
  background-color: #f5f5f5;
}

.left {
  width: 492px;
  float: left;
}

#top img {
  width: 425px;
  float: right;
  padding: 5px 5px 5 5;
  border: 2px solid #C4C0BF;
  margin: 17px 17px 0 0;

}

.clear {
  clear: both;
}

#articles {
  width: 710px;
  float: left;
  background-color: green;
}

#sidebar {
  width: 250px;
  float: right;
  background-color: yellow;
}

#sidebar > ul > li {
  list-style: none;
}

footer {
  background-color: black;
  color: gray;
  padding: 10px 0;
}

footer > p {
  text-align: right;
}
